.dash:hover,
.up:hover,
.arti:hover {
  background-color: #d9dada;
  color: white;
}

.mat-sidenav {
  background-color: #C5ADC5;
  font-family: 'Montserrat', sans-serif;
  
}

mat-nav-list {
  font-size: 8px;
  font-weight: bold;
  text-align: left;
  
}
